NODE_ENV=development
NITRO_HOST=127.0.0.1
NITRO_PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=chess
DB_PASSWORD=
DB_NAME=chess_game

TOKEN_SECRET=

NUXT_PUBLIC_APP_ORIGIN=
NUXT_PUBLIC_ASSET_BASE_URL=
